body,
html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #f7f5f5;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}

h2,
h3,
h4 {
	font-family: 'Raleway', sans-serif;
}

h2 {
	text-transform: uppercase;
	margin: 0 0 20px 0;
	font-weight: 800;
	font-size: 36px;
	color: #fdfafa;
}

h3 {
	font-size: 20px;
	font-weight: 600;
	color: #f8f4f4;
}

h4 {
	font-size: 18px;
	color: #fcfcfc;
	font-weight: 600;
}

h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

p {
	font-size: 15px;
}

p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}

a {
	color: #3b9db6;
	font-weight: 400;
}

a:hover,
a:focus {
	text-decoration: none;
	color: #3b9db6;
}

ul,
ol {
	list-style: none;
}

ul,
ol {
	padding: 0;
	/* webkit-padding: 0;
	moz-padding: 0; */
}

hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #1E7A46;
	margin-bottom: 20px;
	border: 0;
}
.wpp{
	width: 100px;
	animation: wpp 1.5s infinite alternate;
}

@keyframes wpp{
	100%{
		width: 150px;
	} 
	0%{

	}
}

#widget{	
	position: fixed;
	bottom: 8px;
	right: 0px;	
	z-index: 9999;
	cursor: pointer;	
}
/* Navigation */
#menu {
	padding: 15px;
	transition: all 0.8s;
}

#menu.navbar-default {
	background-color: rgb(7, 7, 7);
	border-color: rgba(4, 252, 252, 0);
	box-shadow: 10px 0 0 3px rgba(2, 214, 252, 0.15)
}

#menu a.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #3b9db6;
	/* text-transform: uppercase; */
}

#menu img.logo {
	width: 190px;
	left: 450px;
	top: -32px;
	position: absolute;
}

#menu.navbar-default .navbar-nav>li>a {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: rgb(248, 246, 246);
	font-size: 15px;
	font-weight: 400;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;

}

#menu.navbar-default .navbar-nav>li>a::after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	background: linear-gradient(to right, #09a8f8 0%, #07c4f3 100%);
	content: "";
	transition: width 0.2s;

}

#menu.navbar-default .navbar-nav>li>a:hover:after {
	width: 100%;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:after,
.navbar-default .navbar-nav>.active>a:hover:after,
.navbar-default .navbar-nav>.active>a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background: linear-gradient(to right, #07a4f3 1%, #3b9db6 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
}

.navbar-toggle {
	border-radius: 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #3b9db6;
	border-color: #3b9db6;
}

.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #3b9db6;
}

.section-title {
	margin-bottom: 70px;
}

.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.section-title h2::after {
	position: absolute;
	content: "";
	background: linear-gradient(to right, #3b9db6 0%, #3b9db6 100%);
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}

.section-title p {
	font-size: 18px;
}

.btn-custom {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #eceeee;
	background-color: #5ca9fb;
	background-image: linear-gradient(to right, #5ca9fb 0%, #3b9db6 100%);
	padding: 14px 34px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 15px;
	font-weight: 500;
	border-radius: 25px;
	transition: all 0.5s linear;
	border: 0;
	position: absolute;
	margin-left: -17rem;
	margin-top: 8rem;
}
.btn-header {
	position: inline;
	margin-left: -17rem;
	margin-top: 8rem;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
	color: #fff;
	background-image: none;
	background-color: #6372ff;
}

.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Header Section */

.intro {
	display: table;
	width: 100%;
	padding: 0rem;
	background: url(../img/banner.gif) no-repeat;
	background-position-y: 5rem;
	background-position-x: 1rem;
	background-color: #070606;
	background-size: 100%;
	
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
}


/* .intro .overlay:hover {
	background: rgba(100, 48, 122, 0.2);
	
} */

.intro h1 {
	font-family: 'Raleway', sans-serif;
	color: rgb(248, 244, 244);
	font-size: 82px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 40px;
}

.intro h1 span {
	font-weight: 800;
	color: #5ca9fb;


}

.intro p {
	color: rgb(240, 240, 247);
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;	
	margin-bottom: 60px;


}

header .intro-text {
	padding-top: 30rem;
	padding-bottom: 20rem;
	margin-left: -12rem;
	text-align: left;	
}

/* Features Section */
#features {
	padding: 100px 0;
	background: #101011;
	border-color: rgba(4, 252, 252, 0);
	box-shadow: 10px 0 0 3px rgba(2, 214, 252, 0.15);

}

#features img {
	font-size: 50px;
	margin-bottom: 10px;
	transition: all 0.5s;
	color: #fff;
	width: 120px;
	height: 120px;
	padding: 20px 0;
	border-radius: 100%;


}

#features h2::after {

	background: #3b9db6;

}

/* #features i.fa {
	font-size: 38px;
	margin-bottom: 20px;
	transition: all 0.5s;
	color: #fff;
	width: 100px;
	height: 100px;
	padding: 30px 0;
	border-radius: 50%;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	box-shadow: 10px 10px 10px rgba(0,0,0,.05);
	
} */

/* About Section */
#about {	
	padding: 3rem 0rem;
	background-color: #070606;
	border-color: rgba(4, 252, 252, 0);
	box-shadow: 10px 0 0 3px rgba(2, 214, 252, 0.15)
}

#about h3 {
	font-size: 22px;
	margin: 0 0 20px 0;
}

#about h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#about h2::after {
	position: absolute;
	content: "";
	background: #3b9db6;
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 0;
}

#about .about-text li {
	margin-bottom: 6px;
	margin-left: 6px;
	list-style: none;
	padding: 0;
}

#about .about-text li:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: #5ca9fb;
	font-size: 11px;
	font-weight: 300;
	padding-right: 8px;
}

#about img {
	width: 320px;
	margin-top: 10px;
	background: #070707;
	border-right: 0;
	box-shadow: 0 0 50px rgba(248, 246, 246, 0.06);
}

#about p {
	line-height: 24px;
	margin: 30px 0;
}

/* Services Section */
#services {
	padding: 100px 0;
	background: linear-gradient(to right, #0c0c0c 0%, #121213 100%);
	color: #ffffff;
	border-color: rgba(4, 252, 252, 0);
	box-shadow: 10px 0 0 3px rgba(2, 214, 252, 0.15)
}

#services .service-desc {
	margin: 10px 10px 20px;
}

#services h2 {
	color: #fff;
}

#services .section-title h2::after {
	position: absolute;
	content: "";
	background: #3b9db6;
	height: 4px;
	width: 60px;
	bottom: 0;
	margin-left: -30px;
	left: 50%;
}

#services i.fa {
	font-size: 42px;
	width: 120px;
	height: 120px;
	padding: 40px 0;
	background: #3b9db6;
	border-radius: 50%;
	color: #fff;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, .05);
}

#services h3 {
	font-weight: 500;
	padding: 5px 0;
	color: #fff;

}

#services p {
	color: rgba(255, 255, 255, .75);
}

#services .service-desc {
	margin-bottom: 40px;
}

/* Portfolio Section */
#planos {
	padding: 10px 0;
	background: linear-gradient(to right, #0c0c0c 0%, #121213 100%);
	color: #ffffff;
	border-color: rgba(4, 252, 252, 0);
	box-shadow: 10px 0 0 3px rgba(2, 214, 252, 0.15);

}

/* .preco{
    width: 100%;
    height: 100%;	
    margin: 0;    
    align-items: center;
    justify-content: space-around;
    color: white;
	background-color: #070606;
} */

.card {
	display: inline-block;
	width: 250px;
	padding: 3rem 0rem;
	margin-bottom: 3rem;
	text-align: center;
	background: linear-gradient(140deg, #8fe2f7 0%, #023441 100%);
	border-radius: 15px;
	box-shadow: 2px 2px 20px rgb(3, 124, 124);
	transition: transform 0.3s;
	
}

.col-xs-12.col-md-3 {
	padding: 0px 0px;
	margin: 15px 0px;

}

.card:hover {
	transform: scale(1.050);

}

.card .card-title {
	border-bottom: 2px solid #626768;
}

.card .card-title h2 {
	font-size: 35px;
	padding-bottom: 15px;
	color: yellow;
}

.card .card-title p span {
	font-size: 40px;
	padding: 0 5px;
}

.card .card-content ul {
	padding: 1px 3px;
	padding-bottom: 20px;
}

.card .card-content ul li {
	list-style: none;
	padding: 10px 0;
}

.card .card-content ul li i {
	margin-right: 4px;
}

.card .card-content button {
	width: 120px;
	color: #fff;
	padding: 10px 20px;
	background: #3b9db6;
	border-radius: 20px;
	margin-bottom: 10px;
	outline: none;
	border: none;
	cursor: pointer;
	transition: 0.3s;
}

.card .card-content button:hover {
	width: 135px;
	background: #155a6b;
	letter-spacing: 1.2px;
	border: 1px solid #07c4f3;

}

.card .card-content button a {
	text-decoration: none;
	color: black;
	font-size: 10px;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: linear-gradient(to right, rgba(238, 239, 245, 0.8) 0%, rgba(92, 169, 251, 0.8) 100%);
	padding: 30% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.hover-bg .hover-text>h4 {
	opacity: 0;
	color: #fff;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
}

.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.hover-bg:hover .hover-text {
	opacity: 1;
}

/* Testimonials Section */
#testimonials {
	padding: 100px 0;
	background: #0c0b0b;
	border-color: rgba(4, 252, 252, 0);
	box-shadow: 10px 0 0 3px rgba(2, 214, 252, 0.15);
}

#testimonials i {
	color: #e6e6e6;
	font-size: 32px;
	margin-bottom: 20px;
}

.testimonial {
	position: relative;
	padding: 20px;
}

.testimonial-image {
	float: left;
	margin-right: 15px;
}

.testimonial-image,
.testimonial-image img {
	display: block;
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.testimonial-content {
	position: relative;
	overflow: hidden;
}

.testimonial-content p {
	margin-bottom: 0;
	font-size: 14px;
	font-style: italic;
}

.testimonial-meta {
	margin-top: 10px;
	font-size: 15px;
	font-weight: 600;
	color: #666;
}

/* Team Section */
#team {
	padding: 100px 0;
	border-color: rgba(4, 252, 252, 0);
	box-shadow: 10px 0 0 3px rgba(2, 214, 252, 0.15);
	background-color: #070606;
}

#team h4 {
	margin: 5px 0;
}

#team .team-img {
	width: 240px;
}

#team .thumbnail {
	background: transparent;
	border: 0;
}

#team .thumbnail .caption {
	padding: 10px 0 0 0;
	color: #888;
}

/* Contact Section */
#contact {
	padding: 100px 0 60px 0;
	/* background: linear-gradient(to right, #7d89fc 0%, #5ca9fb 100%); */
	color: rgba(255, 255, 255, .75);
	border-color: rgba(4, 252, 252, 0);
	box-shadow: 10px 0 0 3px rgba(2, 214, 252, 0.15);
	background-color: #070606;
}

#contact .section-title {
	margin-bottom: 0px;
}

#contact .section-title p {
	font-size: 16px;
}

#contact h2 {
	color: #fff;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#contact .section-title h2::after {
	position: absolute;
	content: "";
	background: #3b9db6;
	height: 4px;
	width: 60px;
	bottom: 0;
	left: 30px;
}

#contact h3 {
	color: #fff;
	margin-top: 80px;
	margin-bottom: 25px;
	padding-bottom: 20px;
	font-weight: 400;
}

#contact form {
	padding-top: 20px;
}

#contact .text-danger {
	color: #cc0033;
	text-align: left;
}

#contact .btn-custom {
	margin: 30px 0;
	background: transparent;
	border: 2px solid #3b9db6;
}

#contact .btn-custom:hover {
	color: rgb(6, 6, 7);
	background: #3b9db6;
}

label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}

#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #444;
	background-color: #ffffff;
	background-image: none;
	border: 3px solid #18b6f5;
	border-radius: 8px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}

#contact .form-control:focus {
	border-color: #727171;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}

.form-control::-webkit-input-placeholder {
	color: #777;
}

.form-control:-moz-placeholder {
	color: #777;
}

.form-control::-moz-placeholder {
	color: #777;
}

.form-control:-ms-input-placeholder {
	color: #777;
}

#contact .contact-item {
	margin: 20px 0;
}

#contact .contact-item span {
	color: rgb(245, 243, 243);
	margin-bottom: 10px;
	display: block;
}

#contact .contact-item i.fa {
	margin-right: 10px;
}

#contact .social {
	border-top: 1px solid #3b9db6;
	padding-top: 30px;
	margin-top: 1px;
	text-align: center;
}

#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}

#contact .social i.fa {
	font-size: 22px;
	width: 48px;
	height: 48px;
	padding: 12px 0;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 50%;
	transition: all 0.3s;
}

#contact .social i.fa:hover {
	color: #3b9db6;
	background: #f7f3f3;
}

/* Footer Section*/
#footer {
	background: #f6f6f6;
	padding: 10px 0;
}

#footer p {
	color: #080808;
	font-size: 14px;
}

#footer a {
	color: #3b9db6;
}

#footer a:hover {
	border-bottom: 2px solid #3b9db6;
}


@media (max-width: 2000px){
	#menu img.logo {
		width: 200px;
		left: 300px;
		top: -40px;
	}
}
@media (max-width: 1800px){
	#menu img.logo {
		width: 200px;
		left: 230px;
		top: -40px;

	}
	.btn-header {
		left: 8rem;
		top: 35rem;
	}
	
}
@media (max-width: 1650px){
	#menu img.logo {
		width: 200px;
		left: 230px;
		top: -40px;

	}
	.btn-header {
		left: 17rem;
		top: 35rem;
	}
	
}
@media (max-width: 1490px){
	#menu img.logo {
		width: 200px;
		left: 230px;
		top: -40px;

	}
	.btn-header {
		left: 25rem;
		top: 35rem;
	}
}
@media (max-width: 1350px){
	#menu img.logo {
		width: 200px;
		left: 100px;
		top: -40px;

	}
	.btn-header {
		left: 30rem;
		top: 35rem;
	}
}
@media (max-width: 1280px){
	#menu img.logo {
		width: 200px;
		left: 100px;
		top: -40px;

	}
	.btn-header {
		left: 35rem;
		top: 35rem;
	}
}
@media (max-width: 1200px){
	#menu img.logo {
		width: 200px;
		left: 100px;
		top: -40px;

	}
	.btn-header {
		left: 28rem;
		top: 34rem;
	}
}
@media (max-width: 1100px){
	#menu img.logo {
		width: 150px;
		left: 0px;
		top: -10px;

	}
	.btn-header  {
		left: 32rem;
		top: 33rem;
	}

}
@media (max-width: 1000px){
	#menu img.logo {
		width: 150px;
		left: 0px;
		top: -10px;

	}
	.btn-header  {
		left: 35rem;
		top: 30rem;
	}

}
@media (max-width: 990px){
	#menu img.logo {
		width: 150px;
		left: 0px;
		top: -05px;

	}
	.btn-header  {
		left: 27rem;
		top: 28rem;
		
	}

}

@media (max-width: 900px) {
	#menu img.logo {		
		width: 150px;
		left: -30px;
		top: -15px;
		}
		

	#menu a.navbar-brand {
		display: none;
		/* font-family: 'Raleway', sans-serif;
			font-size: 18px;
			font-weight: 700;
			color: #3b9db6;
			text-transform: uppercase; */
	}

	#about img {
		margin: 50px 0;
	}

	.intro {
		display: table;		
		padding: 0;
		background: url(../img/banner.gif) right no-repeat;
		background-color: #0f0d0d;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
		-o-background-size: contain;
	}

	.btn-header{
		display: none;
	}

}
@media (max-width: 830px) {
	#menu img.logo {		
		width: 0;
		left: -30px;
		top: -15px;
		}
		

	#menu a.navbar-brand {
		display: none;
		/* font-family: 'Raleway', sans-serif;
			font-size: 18px;
			font-weight: 700;
			color: #3b9db6;
			text-transform: uppercase; */
	}

	#about img {
		margin: 50px 0;
	}

	.intro {
		display: table;		
		padding: 0;
		background: url(../img/banner.gif) right no-repeat;
		background-color: #0f0d0d;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
		-o-background-size: contain;
	}

	.btn-header{
		display: none;
	}

}
@media (max-width: 766px) {
	#menu img.logo {		
		width: 200px;
		left: 30px;
		top: -35px;
		}
		
		.wpp{
			display: none;
				
		}
	#menu a.navbar-brand {
		display: none;
		/* font-family: 'Raleway', sans-serif;
			font-size: 18px;
			font-weight: 700;
			color: #3b9db6;
			text-transform: uppercase; */
	}

	#about img {
		margin: 50px 0;
	}

	.intro {
		display: table;		
		padding: 0rem;
		background: url(../img/banner.gif) right no-repeat;
		background-color: #0f0d0d;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		background-size: contain;
		-o-background-size: contain;
	}

	.btn-header{
		display: none;
	}
  .intro-text{
	padding: 0;
   }
}